---
---

@import "variables";
@import "css-functions";

#welcome {
    $youtube-video-aspect-ratio: 2 / 1;
    $youtube-video-width-proportion: 0.5;
    $youtube-video-mobile-overflow: 0.2;

    margin: 0 #{-$page-side-padding-desktop};

    > div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        > div:first-child {
            display: flex;
            flex-direction: row;
            background-color: $color-primary;
            color: $color-mono-lightest;
            padding: 0 #{$page-side-padding-desktop};

            > div:first-child {
                width: css-min(40em, calc((100vw - #{2 * $page-side-padding-desktop} - 3em) * #{$youtube-video-width-proportion}));
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                > div {
                    flex-grow: 1;
                    max-height: css-min(40em / $youtube-video-aspect-ratio, calc((100vw - #{2 * $page-side-padding-desktop} - 3em) * #{$youtube-video-width-proportion / $youtube-video-aspect-ratio}));
                    position: relative;

                    iframe {
                        width: css-min(40em, calc((100vw - #{2 * $page-side-padding-desktop} - 3em) * #{$youtube-video-width-proportion}));
                        height: css-min(40em / $youtube-video-aspect-ratio, calc((100vw - #{2 * $page-side-padding-desktop} - 3em) * #{$youtube-video-width-proportion / $youtube-video-aspect-ratio}));
                        position: absolute;
                        border-radius: 1em;

                        @media #{$mobile} {
                            width: css-min(40em, calc((100vw - #{2 * $page-side-padding-mobile})));
                            height: css-min(40em / $youtube-video-aspect-ratio, calc((100vw - #{2 * $page-side-padding-mobile}) * #{1 / $youtube-video-aspect-ratio}));
                        }
                    }

                    @media #{$mobile} {
                        max-height: initial;
                    }
                }

                @media #{$mobile} {
                    height: css-min(40em / $youtube-video-aspect-ratio * #{1 - $youtube-video-mobile-overflow}, calc((100vw - #{2 * $page-side-padding-mobile}) * #{1 / $youtube-video-aspect-ratio} * #{1 - $youtube-video-mobile-overflow}));
                }
            }

            > div:last-child {
                margin-left: 3em;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                line-height: 1.5;

                h1 {
                    font-size: 2.25em;
                    margin: 0;
                    line-height: 1.2;

                    @media #{$mobile} {
                        margin-top: .5em;
                    }
                }

                p {
                    line-height: 1.5;
                    margin: 1em 0;
                }

                > div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: -.5em -.5em .5em;

                    a {
                        @extend %button;
                        color: inherit;
                        background-color: currentColor;
                        text-decoration: none;
                        font-weight: bold;
                        white-space: nowrap;
                        cursor: pointer;
                        font-weight: 500;
                        transition: box-shadow .15s ease-in-out;
                        margin: .5em .5em;

                        span {
                            color: $color-primary;
                        }

                        i {
                            margin-left: .25em;
                        }

                        &:hover,
                        &:focus {
                            box-shadow: 0 .25em .25em 0 rgba(0,0,0,.25);
                        }
                    }

                    @media #{$mobile} {
                        justify-content: center;
                    }
                }

                @media #{$mobile} {
                    margin-left: 0;
                }
            }

            @media #{$mobile} {
                flex-direction: column-reverse;
                padding: 0 #{$page-side-padding-mobile};
            }
        }

        > div:last-child {
            height: css-min(40em / $youtube-video-aspect-ratio, calc((100vw - #{2 * $page-side-padding-desktop} - 3em) * #{$youtube-video-width-proportion / $youtube-video-aspect-ratio}));

            @media #{$mobile} {
                height: css-min(40em / $youtube-video-aspect-ratio * #{$youtube-video-mobile-overflow}, calc((100vw - #{2 * $page-side-padding-mobile}) * #{1 / $youtube-video-aspect-ratio} * #{$youtube-video-mobile-overflow}));
            }
        }

        @media #{$mobile} {
            flex-direction: column;
        }
    }

    @media #{$mobile} {
        margin: 0 #{-$page-side-padding-mobile};
    }
}

#upcoming-events {
    padding-top: 2.5em;

    > a {
        color: $color-primary;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        h2 {
            font-size: 1em;
            margin: 0;

            i {
                margin-left: .25em;
            }
        }
    }

    .upcoming-events-widget {
        margin: 0 #{-$page-side-padding-desktop};
        padding: 1em #{$page-side-padding-desktop};

        @media #{$mobile} {
            margin: 0 #{-$page-side-padding-mobile};
            padding: 1em #{$page-side-padding-mobile};
        }
    }
}