---
---

@import "variables";
@import "sass-functions";

.upcoming-events-widget {
    display: flex;
    flex-direction: row;

    .upcoming-event {
        color: $color-mono-darkest;
        box-shadow: 0 0 0 1px $color-mono-lighter;
        border-radius: 0.5em;
        padding: 1rem;
        width: 15rem;
        height: 11rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .9em;

        &__info-text {
            &__name {
                font-size: 1.25em;
                font-weight: 800;
                margin: 0;
            }
        }

        &__calendar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__icon {
                color: inherit;
                font-size: 1.5em;
                margin: -1rem;
                padding: 1rem;

                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }

        &:first-of-type {
            $background-color: $color-secondary;
            $line-color: $color-mono-lightest;
            $line-opacity: 0.5;
            $line-width: 0.005;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Crect x='0' y='0' width='1' height='1' fill='#{str-replace(#{$background-color}, '#', '%23')}'/%3E%3Cpath stroke='#{str-replace(#{$line-color}, '#', '%23')}' stroke-opacity='#{$line-opacity}' stroke-width='#{$line-width}' fill='none' d='M-0.03847773843338248 1.705301560974815Q0.24799884945430195 1.5254310773340647 0.35711011562818085 1.423751915454356Q0.4662213818020598 1.3220727535746473 0.6018595526086572 1.2872055432850902Q0.7374977234152545 1.252338332995533 0.8551660308683305 1.113104041090609Q0.9728343383214065 0.9738697491856851 1.0282021598502125 0.8831927525655429Q1.0835699813790185 0.7925157559454006 1.113379404422758 0.6189734599636176Q1.1431888274664974 0.4454311639818347 1.4992762023420692 0.4714894856629578'/%3E%3Cpath stroke='#{str-replace(#{$line-color}, '#', '%23')}' stroke-width='#{$line-width}' stroke-opacity='#{$line-opacity}' fill='none' d='M-0.16157074629257784 1.5822085531156198Q0.17449904683588602 1.4519312747156488 0.20059845180604746 1.2672402516322225Q0.22669785677620893 1.0825492285487963 0.4023354181592057 1.0876814088356388Q0.5779729795422025 1.0928135891224813 0.6539559724315185 0.9118939826537971Q0.7299389653208344 0.7309743761851129 0.8534849941685274 0.7084755868838578Q0.9770310230162206 0.6859767975826028 1.0284053380908589 0.5339993936317184Q1.079779653165497 0.3820219896808341 1.2300821387119631 0.20229542203285183'/%3E%3Cpath stroke='#{str-replace(#{$line-color}, '#', '%23')}' stroke-width='#{$line-width}' stroke-opacity='#{$line-opacity}' fill='none' d='M-0.41861362789706663 1.325165671511131Q-0.2617164396985247 1.0157157881812382 -0.15819966585786951 0.9084421339683058Q-0.05468289201721431 0.8011684797553732 0.07800410669803162 0.7633500973744647Q0.21069110541327757 0.7255317149935562 0.2875436036334733 0.5454816138557519Q0.3643961018536691 0.3654315127179477 0.4516373277173389 0.30662792043266934Q0.5388785535810087 0.24782432814739097 0.6460615407491088 0.15165559628996853Q0.753244527917209 0.05548686443254608 0.9995780467904314 -0.028208669888679705'/%3E%3Cpath stroke='#{str-replace(#{$line-color}, '#', '%23')}' stroke-width='#{$line-width}' stroke-opacity='#{$line-opacity}' fill='none' d='M-0.8642849137937137 0.8794943856144843Q-0.5301135770729493 0.7473186508068138 -0.46891646901606054 0.5977253308101147Q-0.40771936095917183 0.44813201081341564 -0.2262213824750796 0.4591246082013534Q-0.044723403990987426 0.4701172055892912 0.08212573258680099 0.3400637428090796Q0.2089748691645894 0.210010280028868 0.2372734696530927 0.0922640623684232Q0.265572070141596 -0.025482155292021615 0.38755250882962045 -0.1068534356295197Q0.5095329475176449 -0.18822471596701779 0.7271669746448011 -0.30061974203431'/%3E%3Cpath stroke='#{str-replace(#{$line-color}, '#', '%23')}' stroke-width='#{$line-width}' stroke-opacity='#{$line-opacity}' fill='none' d='M-1.0447420372151026 0.6990372621930955Q-0.7441519027571061 0.533280325122657 -0.637692662841834 0.42894913698434123Q-0.5312334229265621 0.32461794884602546 -0.38220399280820627 0.30314199786822676Q-0.23317456268985048 0.28166604689042807 -0.13911589616078696 0.11882211406149165Q-0.045057229631723456 -0.044021818767444765 0.031186607146196144 -0.11382280013847332Q0.10743044392411574 -0.18362378150950187 0.1658597865419602 -0.3285461579171799Q0.2242891291598047 -0.47346853432485797 0.4916482352671088 -0.5361384814120023'/%3E%3C/svg%3E");
            background-size: cover;
            box-shadow: none;
            box-shadow: 0 .25em .25em 0 transparentize($color-mono-darkest, .75);

            & .upcoming-event__calendar__icon {
                &:hover,
                &:focus {
                    color: $color-mono-lightest;
                }
            }
        }
    }

    &__no-events,
    &__loading {
        padding: 1em;
        width: 100%;
        height: 11rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__errored {
        padding: 1em;
        width: 100%;
        height: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button {
            margin-top: 1em;
        }
    }
}