---
title: Stanford Christian Students
layout: default
---

<div class="banner">

	<!-- Full-width images with number and caption text -->
	
</div>

<!-- Slideshow container -->
<div class="slideshow-container" style="box-shadow:0 .5em 1em 0em rgba(0,0,0,.5); border-radius: 30px; margin: 15px auto; opacity:.999">

	<!-- Full-width images with number and caption text -->

	<div class="mySlides fade">
		<a href="{{ site.baseurl }}/welcome/"><img src="{{ site.baseurl }}/images/AdminBanner.png" style="width:100%;display:block" /></a>
	</div>

	<div class="mySlides fade">
		<img src="{{ site.baseurl }}/images/Boston Blending 2.png"/>
	</div>
	<!-- Next and previous buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


<div class="container" id="about-us">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/about.jpg" alt="about" style="border-radius: 30px;"/>
		</div>
		<div>
			<h2 class="editable">
				ABOUT US
			</h2>
			<p class="editable">
				Stanford Christian Students is a community that welcomes all students to read the word of God, to grow in Christ, and to pursue fellowship with us on campus. For our events, we hold weekly Bible studies, host on-campus worship services, and enjoy group gatherings together
			</p>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		What we do
	</h2>
	<p class="editable" style="text-align: center;">
		Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"
	</p>
	<ul class="seconds">
		<li>
			<img src="{{ site.baseurl }}/images/bible-study.jpg" alt="Bible-Study" />
			<h3 class="editable">
				BIBLE STUDIES
			</h3>
			<p class="editable">
				Meet in a small group to read and enjoy the Word of God. Times are flexible to meet your schedule.
			</p>
		</li>
		<li>
		    <img src="{{ site.baseurl }}/images/Club Gathering.png" alt="Small-Group" />
			<h3 class="editable">
				SMALL GROUP GATHERINGS
			</h3>
			<p class="editable">
				A home away from home! Come enjoy open homes, open hearts, open Bibles and open fridges in the Palo Alto community.
			</p>
		</li>
		<li>
		    <img src="{{ site.baseurl }}/images/Min Series 2.jpg" alt="Worship-Service" />
			<h3 class="editable">
				Ministry Series
			</h3>
			<p class="editable">
				Every Sunday afternoon, we gather together virtually to worship our Lord and enjoy a short ministry speaking from His Word.
			</p>
		</li>
		<li>
		    <img src="{{ site.baseurl }}/images/retreat.jpg" alt="Retreat" />
			<h3 class="editable">
				FALL/SPRING RETREATS
			</h3>
			<p class="editable">
				Every fall and spring we set aside a weekend to unwind in the beautiful woods in Sonoma, fellowship with one another and be refreshed by the Word of God.
			</p>
		</li>
	</ul>
</div>
<div class="container" id="upcoming-events">
	<h2 class="editable">
		Upcoming Events
	</h2>
	<div class="upcoming">
		<ul class="thirds">
			<li>
				<img src="{{ site.baseurl }}/images/Bible-Study-Flyer.jpg"  width="600" height="600"/>
				<h3 class = "editable">Bible Studies</h3>
				<hr>
				<div class = "event-info">
					<h4 class="editable"><i class="far fa-calendar-alt" ></i> Tuesdays, 6:00-7:00 PM PDT</h4>
					<h4 class ="editable"><i class="far fa-calendar-alt"></i> Thursdays, 5:00-6:00 PM PDT</i></h4>
					<h4 class="editable"><i class="fas fa-map-marker-alt"></i> Zoom</h4>
					<p class="editable">
						School may be out, but Bible study is still in! Join us on Tuesdays from 6-7 PM PDT and Thursdays from 5-6 PM PDT for a study of Thessalonians 1 and 2. We hope to see you there! To get the zoom link, please contact us at <a href = "mailto:christianstudents@stanford.edu">christianstudents@stanford.edu</a>
					</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="calendar" style="text-align:center">
		<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Z3M0YjlkODJ2OTRyMmRzdm1yanNza3J0ZXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E67C73" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class = "calendar-mobile" style = "text-align: center">
		<iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=Z3M0YjlkODJ2OTRyMmRzdm1yanNza3J0ZXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E67C73&amp;mode=AGENDA&amp;showTabs=0&amp;showCalendars=0&amp;showPrint=0" style="border:solid 1px #777;max-width:100%" width="450" height="500" frameborder="0" scrolling="no"></iframe>
	</div>
</div>

<div class="container processing" id="recent-posts">
	<h2 class="editable">Recent Posts</h2>
	<div class="recent-ig">
		<ul class="thirds">
			{% for i in (0..5) %}
				<li class="ig-post" data-ig-post-index="{{ i }}">
					<img>
					<h5 class="date">{% include icons/social-media.html social_icon="instagram" %} <span></span></h5>
					<h4 class="interactions"><span class="likes"></span> <i class="fas fa-heart"></i> <span class="comments"></span> <i class="fas fa-comment"></i></h4>
					<p class="caption">
						<span class="preview"></span>
						<!-- doesn't actually go anywhere, has an onclick handler -->
						<a href="#showmore" class="more">show more</a>
						<br>
						<a class="link-orig-post" target="_parent">Original post<i class="fas fa-external-link-alt"></i></a>
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>
	<script type="text/javascript" src="{{site.baseurl}}/js/instagramfeed.js"></script>
</div>
