---
title: Stanford Christian Students
layout: default

# List of dicts representing the testimonies to show. (2 by default)
# id: the YouTube video ID located at the end of the video's URL
# name: the name of the person in the testimony, presented directly underneath the video
# [description]: an optional description to show underneath the name
testimonies:
  - id: xurgKUjmMjM
    name: Dr. Scott Finnie
    description: An optional description.
  - id: o6OZooV_qLY
    name: Someone Else

# List of dicts representing the videos to show. (2 by default)
# id: the YouTube video ID located at the end of the video's URL
# title: a title describing the video, presented directly underneath the video
# [description]: an optional description to show underneath the title
videos:
  - id: RcKzTYjL6IA
    title: I am Tree
    description: An optional description here too.

# List of dicts representing the readings to show.
# id: the Google Drive file ID located near the end of the file's URL
readings:
  - id: 1BoQQHT4EYlwqKjSl1sfbVzdFxMBgyq_g
  - id: 1Z-HqRNAukGHnNirFtJGf3GHJGdu_7GBw
  - id: 1bC8mvIcvZErMbowa4p4dSgWDVLrYaJv4
---

<!-- Testimonies -->
<div class="container">
    <h2 class="editable" style="text-align: center;">
        Testimonies
    </h2>
    <!--<p class="editable" style="text-align: center;">
        Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"
    </p>-->
    <ul class="seconds">
        {% for testimony in page.testimonies %}
            <li>
                <div class="mediaAspectRatioContainer">
                    <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/{{ testimony.id }}?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
                    <div></div>
                </div>
                <h3>
                    {{ testimony.name }}
                </h3>
                {%- if testimony.description != nil -%}
                <p>
                    {{ testimony.description }}
                </p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
    <!-- <div class="seemore">
        <a class="buttonlink">See more!</a>
    </div> -->
    
</div>
<!-- Music -->
<div class="container">
    <h2 class="editable" style="text-align: center;">
        Music & Videos
    </h2>
    <!--<p class="editable" style="text-align: center;">
        Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"
    </p>-->
    <ul class="seconds">
        <li>
            <!-- <div class="mediaAspectRatioContainer">
                <iframe src="https://open.spotify.com/embed/playlist/6TV0UDZQOT9snNfihtk5x9" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <div></div>
            </div> -->
            <figure>
                <figcaption>I am a tree:</figcaption>
                <audio
                    controls
                    src="./songs/I am a tree (final_5-30).mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
                <figcaption>Fill My Cup, Lord:</figcaption>
                <audio
                    controls
                    src="./songs/04 Fill My Cup, Lord.mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
                <figcaption>Back in My Father's House:</figcaption>
                <audio
                    controls
                    src="./songs/03 Back in My Father's House.mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
                <figcaption>Take Time to Behold Him:</figcaption>
                <audio
                    controls
                    src="./songs/07 Take Time to Behold Him.mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
                <figcaption>Ive Got A River Of Life:</figcaption>
                <audio
                    controls
                    src="./songs/Ive Got A River Of Life.mp3">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            </figure>
            <h3 class="editable">
                Music
            </h3>
            <p class="editable">
                Enjoy our personal lists of fav gospel songs!
            </p>
            <!-- <div class="seemore">
                <a class="buttonlink">See more!</a>
            </div> -->
        </li>
        <!-- Videos -->
        <li>
            {% for video in page.videos %}
            <div class="mediaAspectRatioContainer">
                <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/{{ video.id }}?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
                <div></div>
            </div>
            <h3>
                {{ video.title }}
            </h3>
            {%- if video.description != nil -%}
            <p>
                {{ video.description }}
            </p>
            {%- endif -%}
            {% endfor %}
            <!-- <div class="seemore">
                <a class="buttonlink">See more!</a>
            </div> -->
        </li>
    </ul>
</div>
<!-- Readings -->
<div class="container" id="upcoming-events" >
    <h2 class="editable">
        Readings
    </h2>
    <div class="readingPreviewcontainer">
        {% for reading in page.readings %}
            <a class="readingPreview mediaAspectRatioContainer" href="https://drive.google.com/file/d/{{ reading.id }}/view" target="_blank">
                <iframe src="https://drive.google.com/file/d/{{ reading.id }}/preview" ></iframe>
                <div></div>
            </a>
        {% endfor %}
    </div>
    <!-- <div class="seemore">
        <a class="buttonlink">See more!</a>
    </div> -->
</div>

<!-- Podcasts -->

<div class="container processing" id="recent-posts">
    <h2 class="editable">Podcasts</h2>
</div>