---
title: Stanford Christian Students
layout: default

# List of dicts representing the testimonies to show. (2 by default)
# id: the YouTube video ID located at the end of the video's URL
# name: the name of the person in the testimony, presented directly underneath the video
# [description]: an optional description to show underneath the name
testimonies:
  - id: xurgKUjmMjM
    name: Dr. Scott Finnie &#128293;
    description: "Ministry Series (5/31): This is Dr. Scott Finnie, our guest speaker from one of our Sunday ministry series. He shared with us his precious story and we hope that you all would also enjoy it and be encouraged by His testimony!"
  - id: o6OZooV_qLY
    name: 2021 Highlights
    description: Enjoy our sharing of our highlights, memories, and testimonies of 2020&ndash;2021 school year on campus &#128513;

# List of dicts representing the videos to show. (2 by default)
# id: the YouTube video ID located at the end of the video's URL
# title: a title describing the video, presented directly underneath the video
# [description]: an optional description to show underneath the title
videos:
  - id: RcKzTYjL6IA
    title: I am Tree
    description: A music video on our club's feature song! &#127794;

# List of dicts representing the readings to show.
# id: the Google Drive file ID located near the end of the file's URL
readings:
  - id: 1BoQQHT4EYlwqKjSl1sfbVzdFxMBgyq_g
  - id: 1Z-HqRNAukGHnNirFtJGf3GHJGdu_7GBw
  - id: 1bC8mvIcvZErMbowa4p4dSgWDVLrYaJv4
---

<!-- Testimonies -->
<div class="container">
    <h2 class="editable" style="text-align: center;">
        Testimonies
    </h2>
    <!--<p class="editable" style="text-align: center;">
        Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"
    </p>-->
    <ul class="seconds">
        {% for testimony in page.testimonies %}
            <li>
                <div class="mediaAspectRatioContainer">
                    <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/{{ testimony.id }}?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
                    <div></div>
                </div>
                <h3>
                    {{ testimony.name }}
                </h3>
                {%- if testimony.description != nil -%}
                <p>
                    {{ testimony.description }}
                </p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
    <!-- <div class="seemore">
        <a class="buttonlink">See more!</a>
    </div> -->
    
</div>
<!-- Music -->
<div class="container">
    <h2 class="editable" style="text-align: center;">
        Music & Videos
    </h2>
    <!--<p class="editable" style="text-align: center;">
        Acts 2:46 - "And day by day, continuing steadfastly with one accord in the temple and breaking bread from house to house, they partook of their food with exultation and simplicity of heart"
    </p>-->
    <ul class="seconds">
        <li>
            <div class="mediaAspectRatioContainer">
                <div style="display:flex;flex-direction:column;align-items:stretch">
                    <iframe style="flex-grow:1" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1118609296%3Fsecret_token%3Ds-vvnbqpssrMJ&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/christian-students" title="Stanf. Christian Students" target="_blank" style="color: #cccccc; text-decoration: none;">Stanf. Christian Students</a> · <a href="https://soundcloud.com/christian-students/sets/stanford-christian-students/s-vvnbqpssrMJ" title="Stanford Christian Students" target="_blank" style="color: #cccccc; text-decoration: none;">Stanford Christian Students</a>
                    </div>
                </div>
                <div></div>
            </div>
            <h3 class="editable">
                Music &#127925;
            </h3>
            <p class="editable">
               Some of our favorite gospel songs!
            </p>
            <!-- <div class="seemore">
                <a class="buttonlink">See more!</a>
            </div> -->
        </li>
        <!------ Videos -------------------------------->
        <li>
            {% for video in page.videos %}
            <div class="mediaAspectRatioContainer">
                <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/{{ video.id }}?ecver=1&amp;iv_load_policy=1&amp;rel=0&amp;showinfo=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" allowtransparency="true" frameborder="0"></iframe>
                <div></div>
            </div>
            <h3>
                {{ video.title }}
            </h3>
            {%- if video.description != nil -%}
            <p>
                {{ video.description }}
            </p>
            {%- endif -%}
            {% endfor %}
            <!-- <div class="seemore">
                <a class="buttonlink">See more!</a>
            </div> -->
        </li>
    </ul>
</div>
<!-- Readings -->
<div class="container" id="upcoming-events" >
    <h2 class="editable">
        Readings
    </h2>
    <div class="readingPreviewcontainer">
        {% for reading in page.readings %}
            <a class="readingPreview mediaAspectRatioContainer" href="https://drive.google.com/file/d/{{ reading.id }}/view" target="_blank">
                <iframe src="https://drive.google.com/file/d/{{ reading.id }}/preview" ></iframe>
                <div></div>
            </a>
        {% endfor %}
    </div>
    <!-- <div class="seemore">
        <a class="buttonlink">See more!</a>
    </div> -->
</div>

<!-- Podcasts

<div class="container processing" id="recent-posts">
    <h2 class="editable">Podcasts</h2>
</div> -->