// Breakpoints
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$mid-point: "(min-width: 1024px)";
$desktop: "(min-width: 1281px)";

$page-side-padding-desktop: 5rem;
$page-side-padding-mobile: 1rem;

$color-primary: #DD5450;
$color-secondary: #F6BE6A;
$color-mono-light: #CDCFCF;
$color-mono-lighter: #EDEEEE;
$color-mono-lightest: #FFFFFF;
// $color-mono-dark: #DEADBEEF;
// $color-mono-darker: #DEADBEEF;
$color-mono-darkest: #1F2120;
