@import "../_sass/variables";

$class-name: "daily-bread-widget";

.#{$class-name} {
    // This constant should also be changes in /js/daily-bread-widget.js.
    $unexpanded-length: 5;

    &__chapter-title {
        font-size: 1.125em;
        margin: 1rem 0;
        font-weight: 800;
    }

    &__verse {
        font-size: .9em;
        margin: 1em 0 0;

        &-ref {
            font-weight: bold;
        }

        .#{$class-name}:not(.#{$class-name}--expanded) &:nth-child(n + #{$unexpanded-length + 1}) {
            display: none;
        }
    }

    &__expander {
        .#{$class-name}--state-loading &,
        .#{$class-name}--expanded &,
        .#{$class-name}--state-errored & {
            display: none;
        }
    }

    &__error_msg {
        text-align: center;

        .button {
            margin-top: 1em;
        }
    }
}